# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.sqlite3
.env
.env.*

# Virtual Environments
venv/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Django Compressor cache
static/CACHE/

# Node.js 
node_modules/

# Media uploads
media/

