{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Hero Section with Background -->
    <section class="relative bg-pink-100">
    <!-- Background Image -->
    <div class="absolute inset-0">
        <img src="{% static 'assets/hero-morocco.png' %}" 
            alt="Moroccan masks, bakhour burners and perfumes"
            class="w-full h-full object-cover">
        <!-- Pink overlay -->
        <div class="absolute inset-0 bg-pink-200/70 mix-blend-multiply"></div>
    </div>

    <!-- Content -->
    <div class="relative max-w-7xl mx-auto px-6 py-32 flex flex-col items-center text-center text-stone-800">
        <h1 class="text-4xl md:text-6xl font-serif font-bold text-white drop-shadow-lg">
        Experience the Essence of Morocco
        </h1>
        <p class="mt-6 max-w-2xl text-lg md:text-xl text-white">
        Natural masks, soulful bakhour, and timeless Arabic perfumes.
        </p>
        <div class="mt-8">
        <a href="{% url 'home' %}#all_products"
            class="px-8 py-3 rounded-full bg-yellow-600 text-white font-medium shadow-md hover:bg-yellow-700 transition">
            Shop Now
        </a>
        </div>
    </div>
    </section>

    <section id="all_products" class="bg-white py-10 px-6">
        <div class="max-w-5xl mx-auto text-center ">
            <h2 class="text-3xl md:text-4xl font-serif font-bold text-yellow-600 pb-8">
            All Products
            </h2>
            
            <form class="max-w-md mx-auto" action="#all_products" method="get">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" name="search" id="default-search" 
                        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-yellow-600 focus:border-yellow-600 " 
                        placeholder="Search For Products..." 
                        required 
                        value="{{ request.GET.search }}"
                        />
                    <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-yellow-100 font-medium rounded-lg text-sm px-4 py-2"
                    >
                        Search
                    </button>
                </div>
            </form>

        </div>
    </section>

    {% include 'products.html' %}

    <!-- pagination -->
    <section class="bg-white py-10 px-6">
        <div class="w-full bg-white py-6 mt-12">
        <div class="max-w-7xl mx-auto px-6 flex items-center justify-between">
            
            <!-- Previous -->
            {% if page_obj.has_previous %}
                <a  href="?page={{page_obj.previous_page_number}}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}#all_products"
                    class="flex items-center gap-2 text-sm text-gray-400 hover:text-yellow-600 transition"
                    >
                    <span class="text-lg">←</span>
                    Previous
                </a>
            {%else%}
                <span></span>
            {% endif %}

            <!-- Page Numbers -->
            <div class="flex items-center gap-4">
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <!-- Active -->
                        <button class="relative text-sm font-medium text-yellow-500">
                            {{num}}
                            <span class="absolute -top-3 left-0 right-0 h-0.5 bg-[#f4b41a] rounded-full"></span>
                        </button>
                    {% else %}
                        <a 
                            href="?page={{num}}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}#all_products"
                            class="text-sm text-gray-400 hover:text-yellow-500 transition">
                            {{num}}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Next -->
            {% if page_obj.has_next %}
                <a  href="?page={{page_obj.next_page_number}}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}#all_products"
                
                    class="flex items-center gap-2 text-sm text-gray-400 hover:text-yellow-600 transition"
                    >
                    Next
                    <span class="text-lg">→</span>
                </a>
            {%else%}
                <span></span>
            {% endif %}

        </div>
        </div>

    </section>

{% endblock %}