{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <section class="bg-white">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-yellow-50 opacity-100 rounded-lg border border-yellow-100 shadow  md:mt-0 sm:max-w-md xl:p-0 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-stone-700 md:text-2xl ">
                    Register for a user account
                </h1>
                <form class="space-y-4 md:space-y-6" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-stone-700 ">Username</label>
                        {{form.username}}
                        {% if form.username.errors %}
                            <p class="text-sm text-red-600">{{ form.username.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="first_name" class="block mb-2 text-sm font-medium text-stone-700 ">First Name</label>
                        {{form.first_name}}
                        {% if form.first_name.errors %}
                            <p class="text-sm text-red-600">{{ form.first_name.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="last_name" class="block mb-2 text-sm font-medium text-stone-700 ">Last Name</label>
                        {{form.last_name}}
                        {% if form.last_name.errors %}
                            <p class="text-sm text-red-600">{{ form.last_name.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-stone-700 ">Email</label>
                        {{form.email}}
                        {% if form.email.errors %}
                            <p class="text-sm text-red-600">{{ form.email.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="password1" class="block mb-2 text-sm font-medium text-stone-700 ">Password</label>
                        {{form.password1}}
                        {% if form.password1.errors %}
                            <p class="text-sm text-red-600">{{ form.password1.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="password2" class="block mb-2 text-sm font-medium text-stone-700 ">Confirm Your Password</label>
                        {{form.password2}}
                        {% if form.password2.errors %}
                            <p class="text-sm text-red-600">{{ form.password2.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <button type="submit" class="w-full text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        Sign Up
                    </button>
                </form>
                <p class="text-sm font-light text-gray-500">
                    Already have an account? 
                    <a href="{% url 'login' %}" class="font-medium text-primary-600 hover:underline">Login </a>here
                </p>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

